<div class="custom-container mt-2">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="title-catalog">Alertas de Stock</h2>
  </div>

  <div class="table-responsive">
    <table class="table custom-table text-center align-middle">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Lote</th>
          <th>Stock Actual</th>
          <th>Fecha Vencimiento</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alerta of alertas">
          <td class="fw-medium">{{ alerta.nombreProducto }}</td>
          <td>{{ alerta.nroLote }}</td>
          <td [ngClass]="{'text-danger fw-bold': alerta.stockActual < 15}">{{ alerta.stockActual }}</td>
          <td>{{ alerta.fechaVencimiento | date:'dd/MM/yyyy' }}</td>
          <td>
            <span class="badge rounded-pill" 
                  [ngClass]="{
                    'bg-danger': alerta.estado.includes('Stock Bajo'),
                    'bg-warning text-dark': alerta.estado.includes('Por Vencer') && !alerta.estado.includes('Stock Bajo')
                  }">
              {{ alerta.estado }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-primary rounded-pill px-3 py-1" (click)="solicitarReposicion(alerta)">Solicitar Reposición</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="alertas.length === 0" class="alert alert-success mt-3">
    Todo en orden. No hay alertas de stock bajo ni lotes por vencer.
  </div>
</div>
