<div class="farmasys-app">
  <header class="topbar">
    <div class="logo-wrapper" (click)="mostrarCatalogo = false" style="cursor: pointer">
      <img src="icons/logo.png" alt="Logo" class="logo-icon" />
      <span class="logo-text">FarmaSys</span>
    </div>
    <div class="breadcrumb-text ms-4" *ngIf="mostrarCatalogo" style="color: #6c757d; font-size: 0.95rem">
      <span>Inventario > </span><span style="color: #000; font-weight: 500">Buscar Catálogo</span>
    </div>
  </header>
  <main class="main-content">
    <div *ngIf="!mostrarCatalogo">
      <div class="header-section">
        <h1>Bienvenido a FarmaSys Cloud</h1>
        <p>Selecciona un módulo.</p>
      </div>
      <div class="modules-grid mb-5">
        <div class="module-card" (click)="mostrarCatalogo = true" style="border-color: #008778">
          <div class="icon-container">
            <img src="icons/tag.svg" alt="Icono" class="custom-icon" />
          </div>
          <div class="text-container">
            <h3>Gestionar Catálogo</h3>
            <p>Mantenimiento de la base de datos maestra de artículos.</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mostrarCatalogo">
      <div class="mt-2">
        <router-outlet></router-outlet>
      </div>
      <div class="mt-5 mb-4">
        <button class="btn btn-outline-volver" (click)="mostrarCatalogo = false">Volver</button>
      </div>
    </div>
  </main>
</div>